#sidebar
  %a{:href => '/new', :id => 'button'} New Snippet
  %p
  .side_section
    %h4 Most Recent
    %ul
      %li
        %a{:href => 's/1'}
          .title Snippet 1
          .info 4 hours ago
      %li
        %a{:href => 's/2'}
          .title Snippet with a long title
          .info 16 days ago
      %li
        %a{:href => 's/3'}
          .title Snippet with a ridiculously long title
          .info 10 months ago
  .side_section
    %h4 Most Viewed
    %ul
      %li
        %a{:href => 's/2'}
          .title Snippet 2
          .info viewed 12 times
      %li
        %a{:href => 's/3'}
          .title Snippet 3
          .info viewed 8 times
      %li
        %a{:href => 's/4'}
          .title Snippet 4
          .info 4 views
  .side_section
    %h4 Tags
    %ul#tags
      %li
        %a{:href => 't/tag1'}tag1
      %li
        %a{:href => 't/tag2'}tag2
      %li
        %a{:href => 't/tag3'}tag3
      %li
        %a{:href => 't/tag4'}tag4
      %li
        %a{:href => 't/tag5'}tag5
      %li
        %a{:href => 't/tag6'}tag6
      %li
        %a{:href => 't/tag7'}tag7
