!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}/
    %title SinSnip - A simple code snippet manager
    %link{:rel => 'stylesheet', :href => '/stylesheets/layout.css', :type => 'text/css', :media => 'screen'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/coderay.css', :type => 'text/css', :media => 'screen'}
  %body
    #container
      = partial :_header
      = yield
      = partial :_sidebar
